@font-face {
    font-family: 'Frieska';
    src: url('/Fonts/FRIESKA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Add more @font-face rules as needed for other custom fonts */